.pagination{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

    ul{
      list-style:'none';
      padding: 0px;
      display: flex;
    }
      li{
        background: #845EC2;
        padding: 10px 15px;
        margin-right: 4px;
        border-radius: 4px;
        font-family: sans-serif;
        color: #fff;
        font-size: 1.1rem;
        min-width: 20px;
        text-align: center;
        user-select: none;
      }


ul:last-child{
 margin-right: 0px;
}
  
li:not(.active):not(.disabled){
          cursor: pointer;
        }
ul:not(.active):not(.disabled):hover{
          background: #D65DB1;
}
li:not(.active):not(.disabled):active{
          background: #3E207C;
        }
  
ul.active{
          background: #FF6F91;
        }
li.disabled{
          background: #FBEAFF;
          pointer-events: none;
        }
      
